[Unit]
Description=n0ctos Calamares Installer
BindsTo=graphical-session.target
After=graphical-session.target
After=hyprland-session.target

[Service]
Type=simple
ExecStart=uwsm app -- /usr/bin/calamares
Restart=no

[Install]
WantedBy=hyprland-session.target